* {
  margin: 0;
  padding: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html{
  width:100vw;
  overflow-x:hidden;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;

}